* {
    font-family: 'Open Sans', sans-serif;
}

.button:hover {
    cursor: pointer;
}

.button, h2, .list-table * {
    text-align: center;
}

input.button {
    margin-left: 25%;
}

.col-headers, thead {
    font-weight: bold;
}

thead td {
    font-size: larger;
}

.list-table td {
    width: 200px;
    border-collapse: collapse;
    padding: 5px;
}

.form-table input {
    width: 200px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #808080;
}

.errors {
    color: red;
}